.formulario {
    height: 412px;
    width: 412px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    gap: 4px;
    flex-direction: column;
    display: flex;
    height: fit-content ;
    label {
        width: 100%;
    }
    h1 {
        text-align: center;
    }
    p {
        margin-top: 32px;
    }

    #security {
        margin: 0;
    }
    input {
        font-size: 16px;
        padding: 8px;
        margin-bottom: 12px;
        border-radius: 8px;
        border: 1px solid black;
        outline: none;
    }
    input[type="submit"] {
        
        margin-top: 20px;
        background-color: black;
        color: white;
        transition: 200ms;
        cursor: pointer;
    }

}
#createaccount {
    margin-top: 32px;
}

.did {
    color: gray;
    text-decoration: line-through;
}
@media (max-width:500px) { 
    .formulario {
    height: 364px;
    width: 364px;
}
}
#requisitos {
    display: flex;
    margin-left: 16px;
    list-style-type: circle;
    flex-direction: column;
    li {
        font-size: 14px;
    }
}
#displayerrorr {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height:240px;
    background-color: white;
    border-radius: 16px;
    padding: 20px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;   
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
    h1 {
        font-size: 36px;
    }
    button {
        position: absolute;
        bottom: 40px;
        height: 52px;
        width: 52px;
        background-color: black;
        color: white;
        border-radius: 50%;
    }
}
#carregando {
    height: 188px;
    border-radius: 24px;
    width: 188px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
#bola {
    width: 88px;
    height: 88px;
    border: 10px solid black;
    border-top: 10px solid transparent;
    border-radius: 50%;
    animation-name: carregando;
    animation-duration: 3s;
    animation-delay: 0.25s;
    animation-iteration-count: infinite;
    background-color: transparent;
}
@keyframes carregando {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
#dologin {
    text-decoration: underline !important;
}
.hagaref {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 788px;
}
.voltarmenu {
    background-color: black;
    color: white;
}
#login {
    position: absolute;
    top: 300px;
}