.formulario {
    height: 412px;
    width: 412px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    gap: 4px;
    flex-direction: column;
    display: flex;
    height: fit-content ;
    label {
        width: 100%;
    }
    h1 {
        text-align: center;
    }
    p {
        margin-top: 32px;
    }

    #security {
        margin: 0;
    }
    input {
        font-size: 16px;
        padding: 8px;
        margin-bottom: 12px;
        border-radius: 8px;
        border: 1px solid black;
        outline: none;
    }
    input[type="submit"] {
        
        margin-top: 20px;
        background-color: black;
        color: white;
        transition: 200ms;
        cursor: pointer;
    }

}
#createaccount {
    margin-top: 32px;
}

.did {
    color: gray;
    text-decoration: line-through;
}
@media (max-width:500px) { 
    .formulario {
    height: 364px;
    width: 364px;
}
}
#requisitos {
    display: flex;
    margin-left: 16px;
    list-style-type: circle;
    flex-direction: column;
    li {
        font-size: 14px;
    }
}

#dologin {
    text-decoration: underline !important;
}
.hagaref {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 788px;
}
.voltarmenu {
    background-color: black;
    color: white;
}
#login {
    position: absolute;
    top: 300px;
}