main {
    background-color: #f7f7f7 !important;
    height: fit-content;
}

#imgs {
    width: 200%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    transition: transform 0.3s ease;
    gap: 0 !important;
    img {
        height: auto;
        object-fit: contain;
        aspect-ratio: 1 / 1; /* ou 4 / 5, depende do produto */
        width: 100%;
        border: none;
    }
}
#carosel-images {
    overflow: hidden;
    width: 500px;
    height: 500px;
    position: relative;
    border: 1px solid black;
    margin: 20px;
    #buttons {
        height: 500px;
        width: 500px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        justify-content:space-between;
        button {
            height: 80px;
            width: 80px;
            display: flex;
            align-items: center;
            padding: 0;
            justify-content: center;
            background-color: transparent !important;
        }
        svg {
            margin: 0 !important;
        }
    }
}
#product-buy {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
}
#principal-infos {
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 16px;
    h1 {
        font-size: 24px;
    }
    #price-product {
        font-size: 28px;
        font-weight: 300;
    }
    #quantidade {
        display: inline-block;
        margin-top: auto;
    }
    h2 {
        width: fit-content;
        display: inline;
    }
    h1,h2 {
        margin-top: 24px;
        margin-bottom: 12px;
    }
}
#buttonss {
    width: 100%;
    margin-top: auto;
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 50px;
    #comprar {
        background-color: var(--red-500);
    }
    button {
        border-radius: 24px;
        font-size: 16px;
        background-color: var(--gray-700);
        padding: 24px;
        color: white;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
    }
    #adicionar-carrinho {
        width: 50px;
        height: 50px;
        padding: 0 !important;
        margin: 0 !important;
        svg {
            stroke: white !important;
            margin: 0 !important;
            padding: 0 !important;
            path {
                stroke: white !important;
            }
        }
    }
}

#tittle-product {
    margin-top: 0 !important;
}
#formas-display {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    div {
        cursor: pointer;
        background-color: var(--gray-100);
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 12px 24px;
        border-radius: 12px;
    }
}
.method {
    background-color: var(--red-200) !important;
}
#pro {
    display: none;
    color: var(--gray-700);
}
@media (max-width:1000px) {
    #carosel-images {
        height: 400px;
        width: 400px;
        #buttons {
        height: 368px;
        width: 368px;
        margin: 16px;
    }
    }

    #principal-infos {
        height: 464px;
    }

}
@media (max-width:856px) {
    #rod {
    display: none;
    }
    #pro {
        display: block;
    }
    #product-buy {
        display: flex;
        flex-direction: column;
    }
    #buttonss {
        width: 100vw;
        position: fixed;
        bottom: 0px;
        left: 0px;
        padding: 16px;
        background-color: #f7f7f7 !important;
    }
    #principal-infos {
        height: 512px;
    }
}
@media (max-width:700px)  {
    #buttonss {
        bottom: 72px;
    }
}
@media (max-width:482px) {
    #imgs {
        width: 372px;
        height: 372px;
        img {
            width: 350px;
            height: 350px;
            margin: 16px;
        }
    }
    #principal-infos {
        height: 512px;
        max-width: 420px;
        margin: 16px;
    }
}
#price-product {
    margin: 0 !important;
    font-size: 28px;
}
#pri {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 24px 0;
    h2,h1 {
        margin: 0 !important;
    }
    #price-product::before {
        content: "... ";
    }
}
#Adicionado-sucesso {
    height: 540px;
    width: 344px;
    border-radius: 32px;
    padding: 24px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    background-color: #f7f7f7;
    z-index: 9999;
    transform: translate(-50%,-50%);
    svg {
        margin: 0 !important;
    }
    h2 {
        font-size: 16px;
        font-weight: 300    ;
    }
    button {
        position: fixed;
        bottom: 24px;
        left: 24px;
        width: calc(100% - 48px);
        padding: 24px;
        font-size: 16px;
        color: white;
        border-radius: 24px;
        background-color: var(--red-400);
        display: flex;
        align-items: center;
        font-weight: 500;
        justify-content: center;
    }
}
#rod {
    position: absolute;
    bottom: -52px;
    left: 0;
    width: 100%;
}