@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
body {
    height: 100dvh;
}
* {
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    user-select: none;
    color: var(--black);
    user-select: none;
    border: none ;
    outline: none;
    transition: 300ms ease;
}
    #gridmulher {
        margin-top: 16px !important;
    }
button {
    border: none;
    cursor: pointer;
    transition: 200ms ease;
    background-color: #f7f7f7;
    height: 50px;
    width: 50px;
    gap: 8px;
    border-radius: 12px;
    font-size: 28px;
    font-weight: 200;
}
html {
    background-color: var(--gray-900);
}
html::-webkit-scrollbar {
    display: none;
}
*::selection {
    background-color: none;
}
ul {
    display: flex;
    list-style-type: none;
}
a {
    text-decoration: none;
}
#navlist {
    height: 92px;
    margin: auto;
    justify-content: space-between;
    align-items:center;
    img { 
        scale: 0.5;
        background-position: center;
    }
}
.navitem {
    display:flex;
    align-items: center;

}
#itemlogo {
    height: 136px;
    width: 136px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    img {
        scale: 1.4;
        overflow: auto;
        pointer-events: none;
    }
}
#itemlogo::selection {
    background: none;
}
#searchbar {
    font-size: 24px;
    border-bottom: 1px solid var(--gray-300);
    color: white;
    font-weight: 500;
    width: 200px;
    background: none !important;
    &::placeholder {
        color: var(--gray-300);
    }
}
#search-icon {
    width: 32px;
    height: 32px;
}
#navfds {
    width: 100vw;
    overflow-x: hidden;
}
#navegation {
    overflow-x: hidden;
    height: 64px;
    background-color: var(--gray-900);
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 64px;
    width: 100%;
    top: 0;
    z-index: 4;
    left: 0;
    overflow: hidden !important;
    margin: auto !important;
}
.navegationitem {
    color: var(--gray-100) !important;
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            transform: translateY(0px);
            margin-right: 8px;
        }
    }
}
a {
    svg {
        stroke: var(--gray-100);
        color: var(--gray-100);
        transform: translateY(4px);
        margin: 0 8px !important;
    }
    path {
    stroke: var(--gray-100) !important;
    color: whit !important;
    fill: none;
    background-color: var(--gray-100) !important;
}
#cit {
    path {
        fill: white;
    }
}
}
a:hover {
    color: var(--gray-300);
}
#rodape {
    height: 450px;
    width: 96%;
    display: flex;
    max-width: 1828px;
    border-radius: 24px;
    margin:auto;
    position: relative;
}
#carrosel {
    filter: saturate(1.35);
    display: flex;
    transition: 1s ease;
    width: calc(500% + 32px); /* 100% para cada imagem (4 originais + 1 repetida) */
    transform: translateX(-100%);
}
.imgact {
    scale: 1.2 !important;
}
.carosselbtn {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 12px;
    background-color: var(--gray-700);
    z-index:3;
    &:hover {
        background-color: var(--gray-500);
    }
    svg {
        fill: white;
        stroke: white;
    }
}
#carossel-esquerda {
    right: 68px;
    transform: translateY(calc(-50% + 50px));
}
#carossel-direita {
    left: 68px;
}
#carrosel img {
    width: calc(100% - 32px);
    scale: 0.5;
    transition: 1s ease-in-out;
    margin: 0 16px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.182) 0px 6px 2px;
}
main {
    border-top: 1px solid var(--gray-900);
    padding-top: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}
#hamburguer {
    left: 0;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    background: none;
    height: 80px;
    width: 60px;
    span {
        height: 2px;
        border-radius: 1px;
        width: 50%;
        background-color:  #f7f7f7;
    }
}
button:hover {
    background-color:rgb(232, 239, 243);
}
#hamburguer:hover>div#displayhamburguer {
    display: flex;
}
header {
    background-color: var(--gray-900);
    padding: 16px;
    max-width: 100%;
}
#displayhamburguer {
    width: 300px; 
    display: none;
    height: 100%;
    overflow: hidden;
    background-color:var(--gray-900);
    opacity: 0.9;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    text-indent: 12px !important;
    animation-name: lado;
    animation-duration: 0.8s;
    animation-delay: 0;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 32px 8px;
    * {
        opacity: 1 !important;
        color: white;
        cursor: pointer;
    }
    h1 {
        text-align: center;
        position: absolute;
        transform: translateY(144px);
    }
    ul {
        transform: translateY(224px);
        font-size: 16px;
        width: 100%;
        align-items: center;
        justify-content: start;
        flex-direction: column;
    }
    li,a {
    margin: 4px 0;
    width: 100%;
    padding: 8px 0 !important;
    svg {
        margin: 0;
        fill: white ;
        stroke: white !important;
        path {
            fill: hite;
            stroke: white !important;
        }
    }

    }
    li:hover,a:hover{
        background-color: black !important;
        border-radius: 8px;
    }

}
html {
    scroll-behavior: smooth;
}
#tittlefeminino {
    margin-top: 48px;
    font-family: serif;
    font-size: 44px !important;
    color: var(--red-500);
}
#titlefemele {
    background-color: #f7f7f7 !important;
    margin: 0 8px;
    padding: 48px;
    flex-direction: column;
    display: flex;
    padding-top: 44px;
    justify-content: center;
    text-align: center;
    height: fit-content;
    border-radius: 16px;
}
#feminino {
    width: 100%;
    height: 1500px;
    .description {
        font-size: 16px;
        text-align: center;
    }
}
#categoriafeminina { 
    min-height: fit-content;
    max-width: 2000px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin:0px auto;
}
main {
    background-color:#f7f7f7;
}
form {
    display: flex;
}
.gridd {
    display: grid;
    max-width: 1298px;
    height: fit-content;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0px auto;
    column-gap: 12px;
    transform: translateX(-32px);
    row-gap: 16px;
}
.displayitem {
    height: 588px;
    width: 332px;
    padding: 24px;
    display: flex;
    transition: 100ms ease;
    border-radius: 16px;
    cursor: pointer;
    flex-direction: column;
    background-color: #f7f7f7;
    img:first-child{
        width: fit-content;
        height: 212px;
        margin: 14px auto;
    }
    h2 {
        font-family: "arial";
        font-size: 24px; 
        font-weight: 200;
        text-align: start;
        color: rgb(54, 54, 54);
        transform: translateY();
        position: relative;
        line-height: 1.4;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
    }   
    p {
        font-size: 44px;
        font-weight: bold;
        transform: translateY(52px);
    }
    .label {
        font-weight: 400 !important;
        font-size: 16px !important;
    }
    .label2 {
        font-size: 24px; 

    }
    a {
        transform: translateY(180%);
        button {
            z-index: 100;
            font-weight: 500;
            width: 100% !important;
            background-color: #f7f7f7 !important;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            display: flex;
            border-radius: 20px;
            padding: 8px;
            outline: 1px solid black;
        }
    }
    .stars {
        transform: translateY(-24px);
    }
}
.displayitem:hover {
    scale: 1.025;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 4px;
    a {

        button {
            background-color: var(--red-500) !important;
            outline:  none !important;
            color: white !important;
        }
    }
}
    .displayitem {
        max-width: 260px;
        max-height: 548px;
        h2 {
            font-size: 20px;

        }
        .price {
            font-size: 32px;
        }
        .label2 {
            font-size: 20px;
        }
        a {

            button {
                transform: translateY(-8px);
                border-radius: 20px;
                padding: 8px;
            }
        }
    }
.stars {
    height: auto !important;
    width: 32% !important;
    transform: translateY(28px);
}
.estoque {
    font-size: 12px !important;
    position: relative;
    right: -208px;
    top: -76px;
    font-weight: 300 !important;
}
main {
    background-color: var(--gray-100) !important;
    height: fit-content;
}
#menu-mobile {
    display: none;
    visibility: hidden;
}
#sectionpesquisa {
    margin: auto;
    width: 72%;
    max-height: 2000px;
    svg {
        margin: 0;
        margin-bottom: 24px;
    }
}
#categoriafeminina { 
    width: 100%;
    background-color: var(--gray-100);
}

@keyframes lado {
    0% {
        transform: translateX(-100vw);
    }
    100% {
        transform: translateX(0);
    }
}
@media (max-width:1550px) {
    .gridd {
        transform: translateX(0);
        column-gap: 20px;
        row-gap: 16px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

}
@media (max-width:1030px) {
    #rodape {
        height: 350px;
    }
    .gridd {
        grid-template-columns: 1fr 1fr;
    }
    #carossel-esquerda {
    right: 32px;
    transform: translateY(calc(-50% + 36px));
    box-shadow: rgba(0, 0, 0, 0.1) 0px -4px 0px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    }
    #carossel-direita {
    left: 32px;
    }
    .carosselbtn {
        height: 36px;
        width: 36px;
    }
}
@media (max-width:850px) {
    #rodape {
        height: 300px;
    }

}
@media (max-width:960px) {
    #itemlogo {
        height: 88px;
        width: 88px;
    }
    #navegation {
        li {
            font-size: 12px !important;
        }
    }

}
@keyframes car {
    17% {
        transform: translateX(0);
    }
    34% {
        transform: translateX(0);
    }
    51% {
        transform: translateX(-50vw);
    }
    68% {
        transform: translateX(-50vw);
    }
    85% {
        transform: translateX(-50vw);
    }
    100% {
        transform: translateX(0);
    }
}
#em-alta {
    display: none;
    text-align: center;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    font-size: 16px !important;
    color: var(--gray-500);
    gap: 8px;
    padding: 8px;
    margin: 8px;
    border-radius: 12px;
    background-color: #f7f7f7;
    svg {
        margin: 0 !important;
        margin-left: 8px;
    }
}
@media (max-width:700px) {
    #gridmulher {
        margin-top: 4px !important;
    }
    #em-alta {
        display: flex;
    }
    #rod {
        flex-direction: column;
        gap: 16px;
        padding-bottom: 32px;
        div {
            margin: auto;
            width: 300px;
        }
    }
    #searchh {
        display: none;
    }
    .actives {
        border-bottom: 1px solid var(--red-500);
        justify-content: space-evenly;
        svg {
            path {
                stroke: var(--red-500) !important;
            }
        }
        p {
            color: var(--red-500) !important;
            visibility: visible !important;
            display: block !important;
        }
    }
    #menu-mobile {
        display: block;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
        visibility: visible;
        position: sticky;
        bottom: 0;
        left: 0;
        width: 100%;
        left: 0;
        width: 100%;
        margin: 0px !important;
        padding: 8px;
        padding-bottom: env(safe-area-inset-bottom) !important;
        background-color: var(--gray-900) !important;
        z-index: 999 !important;
        height: 72px !important; /* altura REAL do menu */
        ul { 
            margin: 0 4px !important;
            margin: auto;
            display: grid;
            gap: 12px;
            justify-content: center;
            align-items: center;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            li {
                width: 70%;
                margin: auto;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                a {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    svg {
                        margin: 0 !important;
                    }
                    p {
                        margin-top: 4px;
                        font-size:12px;
                        text-align: center;
                        display: none;
                        color: white;
                        visibility: hidden;
                    }
                }
            }
        }
    }
    #titlefemele {
        height: 136px !important;
    }
    .description {
        font-weight: 200 !important;
        font-size: 16px;
    }
    #feminina {
        width: 100%;
        
    }

    #categoriafeminina { 
    width: 100%;
    background-color: var(--gray-100);
    }
    main {
        padding-top: 24px;
    }
    .displayitem {
        max-width: 260px;
        max-height: 548px;
        h2 {
            font-size: 20px;

        }
        .price {
            font-size: 32px;
        }
        .label2 {
            font-size: 20px;
        }
        a {

            button {
                transform: translateY(-8px);
                border-radius: 20px;
                padding: 8px;
            }
        }
    }
    #rodape {
        height: 188px;
    }
    #navegation {
        overflow: visible !important;
        column-gap: 0 !important;
        height: 44px;
        padding-inline-start: 0px !important;
        justify-content: start;
        width: 250vw;
        animation-duration: 12s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
        animation-name: car;
        animation-duration: 12s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        li {
            align-items: start;
            margin: 0;
        }
    }
    .navegationitem {
        display: flex;
        align-items: center;
        padding: 0 !important;
        justify-content: center;
        min-width: 50vw;
        a {
            font-size: 16px;
        }
    } 
    #searchbar {
        font-size: 20px !important;
        width: 250px;
    }
    #navlist {
        height: 40px;
        justify-content:  space-between;
    }
    #itemlogo {
        position: static;
        transform: translate(-24px,8px);
        margin: 0;
    }
    #inputitem {
        transform: translateX(-50%);
        left: 50%;
        top: 128px;
        position: absolute;
        display: flex;
        justify-content: center;
    }
    header {
        padding:16px;
    }
    #carossel-esquerda {
        right: 28px;
    }
    #carossel-direita {
        left: 28px;
    }
    #displayhamburguer {
        display: none !important;
        visibility: none !important;
    }
    #hamburguer {
        display: none !important;
        visibility: none !important;
    }
    #itemlogo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}
@media (max-width:550px) {
    #tittlefeminino {
        margin-top: 0%;
    }
    #section-melhores {
        img {
            margin-top: 32px;
        }
    }
    #em-alta {
    transform: translateY(25%);
    }
    #titlefemele {
        height: fit-content !important;
    }
    main {
        padding-top: 0;
        padding-bottom: calc(72px + env(safe-area-inset-bottom)) !important;
    }
    #rodape {
        height: 260px;
        scale: 0.7;
        border-radius: 8px;
    }
    .gridd {
        column-gap: 6px;
        row-gap: 6px !important;
    }
    .displayitem {
        width: 200px;
        height: 452px;
        img:first-child {
            height: 150px;
            width: fit-content;
        }
        h2 {
            font-size: 16px;
        }
        .price{
            font-size: 28px;
        }
        .label{
            font-size: 8px;
        }
        .label2 {
            font-size: 16px;
        }
        .stars { 
            position: relative;
            left: 8px;
            scale: 1.4;
            transform: translateY(-8px);
        } 
        a {
            button {
                transform: translateY(-12px);
                border-radius: 16px;
            }
        }
    }
    #carossel-esquerda {
        right: -72px;
    }
    #carossel-direita {
        left: -72px;
    }
}
img {
    pointer-events: none;
}
.bu {
    background-color: var(--gray-900);
    border-radius: 50%;
    height: 48px;
    width: 48px;
    svg {
        margin: 0;
        g{
            fill: white;
        }
    }   
}
#on_account {
    display: none;
}
#no_account {
    display: none;
}
#section-melhores {
    background-color: #f7f7f7;
    border-radius: 24px;
    margin: 0 8px;
    display: flex;
    padding: 24px;
    transform: translateY(64px);
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 4px solid var(--gray-100);
    h1 {
        line-height: 1.2em;
        color: var(--red-400);
        font-size: 24px;
    }
    p {
        font-size: 16px;
        color: var(--gray-700);
    }
    img {
        height: 200px;
        width: 200px;
        object-fit: contain;
    }
    div {
        max-width: 400px;
        display: flex;
        justify-content: start;
        flex-direction: column;
    }
}
#rod {
    transform: translateY(72px);
    background-color: var(--gray-900);
    padding: 12px;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    min-height: 300px;
    h1 {
        font-weight: 600 !important;
        font-size: 24px;
        margin-bottom: 16px;
        color: var(--gray-100);
    }
    svg {
        margin: 0 !important;
    }
    div {
        ul {
            display: flex;
            flex-direction: column;
            color: var(--gray-300 );
            gap: 4px;
        }
    }
    img {
        height: 120px;
        width: auto;
    }
    #ch {
        display: flex;
        gap: 16px;
        flex-direction: row;
    }
}