@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color3:sd;
    --color2:#F0F0F0;
    --color1:#e4f1f8;
    --black:rgb(40, 40, 40);
}
@font-face {
    font-family: "Akira";
    src: url("../fonts/Akira Expanded Demo.otf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    user-select: none;
    color: var(--black);
    user-select: none;
}
html {
    background-color: white;
}
*::selection {
    background-color: none;
}
#navlist {
    display: flex;
    height: 90px;
    width: 100%;
    justify-content: space-between;
    align-items:center;
    img {
        scale: 0.5;
    }
}
.navitem {
    display:flex;
    align-items: center;
    transition: 300ms;
    div {
        line-height: 16px;
        font-weight: 200;
        font-size: 1em;
        position: relative;
        right: 22px;
    }
    
}
.navitem:hover>i {
    animation-name: thirdsla;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
.navitem:hover>div.display{
    display: flex;
    position: absolute;
    z-index: 2;
}
#conta:hover,#carrinho:hover  {
    background: var(--color1);
    svg {
        fill:  var(--black);
    }
    div {
        color:  var(--black) !important;
    }
    span {
        color:  var(--black);
    }
    i {
        color:  var(--black);
    }
    
}
.icons {
    height: 120px;
    width: 120px;
}
#conta {

    transform: translateY(8px);
    padding-right: 16px;
    color: #7D7D7D !important;
    cursor: pointer;
    img {
        height: 100px;
        width: 100px;
        margin-right: 8px;
    }
    i {
        color: #7d7d7d;
    }
   
}
.text {
    color: #7D7D7D !important;
    span {
        color: #7D7D7D;
    }
}
.bold {
    font-size: 1.3em;
    font-weight: 300;
   
}
#itemlogo {
    height: 136px;
    width: 136px;
    position: absolute;
    top: 24px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    user-select: none;
    transform: translateY(-44px);
    user-select: none;
    -webkit-user-drag: none;
    img {
        scale: 1.4;
        overflow: auto;
        pointer-events: none;
    }
}
#itemlogo::selection {
    background: none;
}
#searchbar {
    border: none;
    font-size: 20px;
    border-bottom: 1px solid  var(--black);
    color:  var(--black);
    font-weight: 200;
    background: none !important;
}
#searchbar:enabled{
    outline: none;
}
#header {
    width: 100%;
    padding: 0 4%;
    margin: 0 auto;
    position: fixed;
    right: 50%;
    transform: translateX(50%);
    height: 132px;
    background-color: rgba(255, 255, 255, 0.342);
    backdrop-filter: blur(8px);
    z-index: 2;
    input {
        background-color: none;
    }
}

#search-icon {
    width: 32px;
    height: 32px;
}
#navegation {
    display: flex;
    list-style-type: none;
    gap: 16px;
    width: 330px;
    z-index: 1;
    
    * {
        cursor: pointer;
    }
    li {
        color: #7D7D7D;
        transition: 200ms ease;
    }
    li:hover {
        color:  var(--black);
    }
}
#carrinho {
    transform: translateY(8px);
    padding-right:16px;
    cursor: pointer;
    i {
        color: #7d7d7d;
    }
}
#rodape {
    background-image: url("../imgs/issomrmr.png");
    background-position: center;
    background-attachment: initial;
    position: absolute;
    height: 450px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}
.arrow {
    transition: 300ms ease;
    height: 50px;
    width: 50px;
    color: rgba(33, 33, 33, 0.249);
    border-radius: 50%;
    display: flex;
    background: rgba(255, 255, 255, 0.407);
    cursor: pointer;
    img {
        scale: 0.45;
    }
}
.arrow:hover {
    scale: 1.1;
}
.perfume {
    display: flex;
    align-items: center;
    transform: translate(-30px,40px);
    transition: 300ms ease;
    h1 {
        font-family: "Akira";
        font-size: 3em;
        color: rgb(245, 209, 175);
        margin: 12px;
        transform: translateY(-60px);
        line-height: 38px;
        display: flex;
        flex-wrap: wrap;
        max-width: 200px;
        height: 100%;
        transition: 300ms ease;
    }
    
}
.perfume:hover {
    scale: 1.1;
}
#right {
    scale: -1;
}
#right:hover {
    scale: -1.1;
}
#learnabout {
    padding: 12px;
    font-weight: 500;
    border-radius: 8px;
    font-size: 0.25em;
    border: none;
    color: rgb(33, 33, 33);
    background: rgb(245, 209, 175);
    transition: 200ms;
    cursor: pointer;
    width: 1000%;
    transform: translateY(140px);
}

body {
    height: 2000px;
}
@keyframes thirdsla {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(180deg);
    }
    
}
div.display {
    align-items: start;
    position: absolute;
    background-color: var(--color1);
    padding: 16px;
    color: rgb(33, 33, 33);;
    border-radius: 0 0 8px 8px;
    border-bottom: 1px solid rgb(180, 213, 236);
    height: 74px;
    padding-left: 24px;
    line-height: 0px;
    width: 212px;
    top:  64px;
    z-index: 3;
    right: 0px;
    display: none;
    transition: 200ms;
    opacity: 1;
    justify-content: start;
    align-items: center;
    img {
        height: 40px;
        width: 40px;
    }
    ul {
        list-style:none;
    }
    li:hover {
        color: black;
    }
    li {
        line-height: -5px;
        font-weight: 300;
        height: 28px;
        display: flex;
        justify-content: start;
        align-items: center;
    }
    
}
#contadisplay {
    height: 72px;
    width: 185px;
    top: 80px;
    right: 0px;
    align-items: start;
    padding: 8px;
    z-index: 4;
    img {
        height: 40px;
        width: 40px;
    }
}
#rodape {
    top: 150px;
}
.othersec {
    
    height: 2000px;
    background-color: var(--color2);
    width: 100%;
    position: absolute;
    top: 1200px;
    z-index: 3;
    overflow: unset;
}
#itemlogo:hover {
    scale: 1.05;
}
#hara {
    position: fixed;
    z-index: 1;
    top: 172px;
    width: 100%;
    height: 1px;
    background-color:  var(--black);
    
}
img {
    transition: 200ms;
}
.perfumeimg:hover {
    scale: 1.025;
}
#navlist {
        display: flex;
        align-items: center;
        height: auto;
    }
button {
    border: none;
    cursor: pointer;
    transition: 200ms ease;
    background-color: white;
    height: 50px;
    width: 50px;
    gap: 8px;
    border-radius: 12px;
    font-size: 2em;
    font-weight: 200;
}
#hamburguer {
    display: none;
    left: 0;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    
    span {
        height: 1px;
        width: 50%;
        background-color:  var(--black);
    }
}
button:hover {
    background-color:rgb(232, 239, 243);
}
#hamburguer:hover>div#displayhamburguer {
    display: flex;
}

#displayhamburguer {
    width: 300px;
    display: none;
    height: 100vh;
    background-color:rgb(232, 239, 243);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 6;
    animation-name: lado;
    animation-duration: 1s;
    padding: 30px;
    
}
#quit {
    background-color: rgb(232, 239, 243);
}
#quit:hover {
    background-color: white;
}
svg {
    margin:28px 28px;
}

@keyframes lado {
    0% {
        transform: translateX(500px);
    }
    100% {
        transform: translateX(0);
    }
}
@media (max-width:1030px) {
    #itemlogo {
        scale: 0.7;
        transform: translateY(-50px);
    }
    #itemlogo:hover {
        scale: 0.75;
    }
    .navitem {
        scale: 0.96;
    }
    #inputitem {
        scale: 0.8;
    }

}
@media (max-width:960px) {
    #conta {
        display: none;
    }
    #carrinho {
        display: none;
    }
    #itemlogo {
        position: static;
        transform: translateY(30px);
        transform: translateX(-50%);
        right: 50%;
        margin: 0;
    }
    #hamburguer{
        display: flex;
        
    }
    #navlist {
        height: 80px;
        
    }
    #navegation {
        scale: 0.8;
    }
}
@media (max-width:700px) {
   #navlist {
    height: 160px;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
   } 
   #inputitem {
        transform: translateY(40px);
        width: 700px;
        display: flex;
        justify-content: center;
        scale: 1.2;
        position: absolute;
    }
    #navegation {
        margin: auto;
        border: none;
    }
}
#haraerre {
    position: fixed;
    width: 150vw;
    height: 1px;
    background-color:  var(--black);
    transform: translateX(-10%);
}
.nomedoperfume {
    transition: 300ms ease;
}
.nomedoperfume:hover {
    scale: 1.025;
}
a {
    text-decoration: none;
    color: none;
}
html {
    scroll-behavior: smooth;
}