@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color3:sd;
    --color2:#F0F0F0;
    --color1:#e4f1f8;
    --black:rgb(33, 33, 33);
}
@font-face {
    font-family: "Akira";
    src: url("../fonts/BebasNeue-Regular.ttf");
}
@font-face {
    font-family: "archivo";
    src: url("../fonts/ArchivoBlack-Regular.ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    user-select: none;
    color: var(--black);
    user-select: none;
}
html {
    background-color: white;
}
*::selection {
    background-color: none;
}
ul {
    display: flex;
    list-style-type: none;
}
#navlist {
    height: 90px;
    justify-content: space-between;
    align-items:center;
    img { 
        scale: 0.5;
    }
}
.navitem {
    display:flex;
    align-items: center;
    transition: 300ms;
    div {
        line-height: 16px;
        font-weight: 200;
        font-size: 1em;
        position: relative;
        right: 22px;
    }
    
}
.navitem:hover>i {
    animation-name: thirdsla;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
.navitem:hover>div.display{
    display: flex;
    position: absolute;
    z-index: 2;
}
#conta:hover,#carrinho:hover,#conta:active,#carrinho:active  {
    background: var(--color1);
    svg {
        fill:  var(--black);
    }
    div {
        color:  var(--black) !important;
    }
    span {
        color:  var(--black);
    }
    i {
        color:  var(--black);
    }
    
}
.icons {
    height: 120px;
    width: 120px;
}
#conta {

    transform: translateY(8px);
    padding-right: 16px;
    color: #7D7D7D !important;
    cursor: pointer;
    img {
        height: 100px;
        width: 100px;
        margin-right: 8px;
    }
    i {
        color: #7d7d7d;
    }
   
}
.text {
    color: #7D7D7D !important;
    span {
        color: #7D7D7D;
    }
}
.bold {
    font-size: 1.3em;
    font-weight: 300;
   
}
#itemlogo {
    height: 136px;
    width: 136px;
    position: absolute;
    top: 24px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    user-select: none;
    transform: translateY(-44px);
    user-select: none;
    -webkit-user-drag: none;
    img {
        scale: 1.4;
        overflow: auto;
        pointer-events: none;
    }
}
#itemlogo::selection {
    background: none;
}
#searchbar {
    border: none;
    font-size: 20px;
    border-bottom: 1px solid  var(--black);
    color:  var(--black);
    font-weight: 200;
    background: none !important;
}
#searchbar:enabled{
    outline: none;
}
#header {
    width: 100%;
    padding: 0 4%;
    margin: 0 auto;
    position: fixed;
    right: 50%;
    transform: translateX(50%);
    height: 172px;
    background-color: white;
    z-index: 2;
    input {
        background-color: none;
    }
}

#search-icon {
    width: 32px;
    height: 32px;
}
#navegation {
    display: flex;
    list-style-type: none;
    gap: 16px;
    width: 100vw;
    transform: translateY(30px);
    z-index: 0;
    left: 0;
    * {
        cursor: pointer;
    }
    a {
        margin-left: 40px;
        margin-top: 16px;
        color: #676767;
        transition: 200ms ease;
        flex-wrap: nowrap;
    }
    a:hover {
        color: var(--black);
    }
}
.navegationitem {
    svg {
        transform: translate(-8px,6px);

        margin: 0;
    }
}
#carrinho {
    transform: translateY(8px);
    padding-right:16px;
    cursor: pointer;
    i {
        color: #7d7d7d;
    }
}
#rodape {
    background-image: url("../imgs/issomrmr.png");
    background-position: center;
    background-attachment: initial;
    position: absolute;
    height: 450px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    img {
        filter: saturate(1.1)brightness(1.1);
    }
}
.arrow {
    transition: 300ms ease;
    height: 50px;
    width: 50px;
    color: rgba(33, 33, 33, 0.249);
    border-radius: 50%;
    display: flex;
    background: rgba(255, 255, 255, 0.407);
    cursor: pointer;
    img {
        scale: 0.45;
    }
}
.arrow:hover {
    scale: 1.1;
}
.perfume {
    display: flex;
    align-items: center;
    transform: translate(-30px,40px);
    transition: 300ms ease;
    h1 {
        font-family: "Akira";
        font-size: 128px;
        color: rgb(245, 209, 175);
        margin: 12px;
        transform: translateY(-60px);
        line-height: 100px;
        display: flex;
        flex-wrap: wrap;
        max-width: 200px;
        height: 100%;
        transition: 300ms ease;
    }
    
}
.perfume:hover {
    scale: 1.1;
}
#right {
    scale: -1;
}
#right:hover {
    scale: -1.1;
}
#learnabout {
    padding: 12px;
    font-weight: 500;
    border-radius: 8px;
    font-size: 12px !important;
    border: none;
    color: rgb(33, 33, 33);
    background: rgb(245, 209, 175);
    transition: 200ms;
    cursor: pointer;
    width: 1000%;
    transform: translateY(100px);
}

body {
    height: 2000px;
}
@keyframes thirdsla {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(180deg);
    }
    
}
div.display {
    
    align-items: start;
    position: fixed;
    background-color: var(--color1);
    padding: 16px;
    color: rgb(33, 33, 33);;
    border-radius: 0 0 8px 8px;
    border-bottom: 1px solid rgb(180, 213, 236);
    height: 74px;
    padding-left: 24px;
    line-height: 0px;
    width: 212px;
    top:  64px;
    z-index: 100;
    right: 0px;
    display: none;
    transition: 200ms;
    opacity: 1;
    justify-content: start;
    align-items: center;
    img {
        height: 40px;
        width: 40px;
    }
    ul {
        list-style:none;
        flex-direction: column;
    }
    li:hover {
        color: black;
    }
    li {
        line-height: -5px;
        font-weight: 300;
        height: 28px;
        display: flex;
        justify-content: start;
        align-items: center;
    }
    
}
#contadisplay {
    height: 72px;
    width: 185px;
    top: 80px;
    right: 0px;
    padding: 8px;
    z-index: 9999999;
    img {
        height: 40px;
        width: 40px;
    }
}
#rodape {
    top: 172px;
}
#itemlogo:hover {
    scale: 1.05;
}
img {
    transition: 200ms;
}
.perfumeimg:hover {
    scale: 1.025;
}
button {
    border: none;
    cursor: pointer;
    transition: 200ms ease;
    background-color: white;
    height: 50px;
    width: 50px;
    gap: 8px;
    border-radius: 12px;
    font-size: 28px;
    font-weight: 200;
}
#hamburguer {
    display: none;
    left: 0;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    background: none;
    span {
        height: 1px;
        width: 50%;
        background-color:  var(--black);
    }
}
button:hover {
    background-color:rgb(232, 239, 243);
}
#hamburguer:hover>div#displayhamburguer {
    display: flex;
}

#displayhamburguer {
    width: 300px;
    display: none;
    height: 100vh;
    background-color:rgb(232, 239, 243);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 6;
    animation-name: lado;
    animation-duration: 1s;
    padding: 32px;
    p {
        margin: 12px 0;
        font-size: 24px;
    }
    ul {
        font-size: 16px;
        flex-direction: column;
    }
}
#quit {
    color: rgb(40, 40, 40);
    background-color: rgb(232, 239, 243);
    height: 32px;
    width: 32px;
    svg {
        margin: 0;
        padding: 0;
    }
}
#quit:hover {
    background-color: white;
}
svg {
    margin:28px;
}
#divisao1 {
    height: 1px;
    width: 100%;
    position: fixed;
    top: 100px;
    background-color: var(--color1);
    z-index: 2;
    display: block;
}
#haraerre {
    position: fixed;
    width: 150vw;
    height: 1px;
    background-color:  var(--black);
    transform: translateX(-10%);
}
.nomedoperfume {
    transition: 300ms ease;
}
.nomedoperfume:hover {
    scale: 1.025;
}
a {
    text-decoration: none;
    color: none;
}
html {
    scroll-behavior: smooth;
}
#tittlefeminino {
    font-family: "archivo";
    font-size: 48px !important;
    color: rgb(245, 101, 125);
}
#feminino {
    position: absolute;
    top: 770px;
    width: 100%;
    height: 600px;
    background-color: black;
}
#categoriafeminina {
    width: 88%;
    margin: auto;
}

@keyframes lado {
    0% {
        transform: translateX(500px);
    }
    100% {
        transform: translateX(0);
    }
}
@media (max-width:1030px) {
    #itemlogo {
        scale: 0.7;
        transform: translateY(-50px);
    }
    #itemlogo:hover {
        scale: 0.75;
    }
    .navitem {
        scale: 0.96;
    }

}
@media (max-width:960px) {
    #conta {
        display: none;
    }
    #carrinho {
        display: none;
    }
    #itemlogo {
        position: static;
        transform: translateY(30px);
        transform: translateX(-50%);
        right: 50%;
        margin: 0;
    }
    #hamburguer{
        display: flex;
        
    }
    #navlist {
        height: 80px;
        
    }
    #navegation {
        scale: 0.8;
        transform: translateY(52px);
    }
    #rodape {
        top: 172px;        
    }
}
@media (max-width:700px) {
    #divisao1 {
        display: none;
    }
    #rodape {
        top: 182px;
    }
   #navlist {
    height: 164px;
    justify-content: space-around;
   } 
   #inputitem {
        transform: translateY(40px);
        width: 700px;
        display: flex;
        justify-content: center;
        scale: 1.2;
        position: absolute;
    }
    #itemlogo {
        margin: 0;
    }
    #navegation {
        align-items: center;
        justify-content: center;
        position: absolute;
        line-height: 8px;
        height: 72px;
        transform: translateX(-40px);
        display: flex;
        flex-wrap: wrap !important;
        margin: 32px auto;
        border: none;
        li {
            font-size: 14px;
            margin-top: 0;
        }
    }
    
    #navlist {
        height: 76px;
    }
    #header {
        height: 186px;
    }
    .perfume {
        display: flex;
        flex-direction: column;
        gap: 32px;
        justify-content: center;
        align-items: center;
        h1 {
            order: 1;
            display: block;
            transform: translate(8px,88px);
            font-size: 92px;
            line-height: 72px;
        }
        img {
            scale: 0.7;
            order: 2;
            transform: translateY(40px);
            transform: translateX(48px);
            margin: auto;
        }
        button {
            display: none;
        }
        img:hover {
            scale: 0.825;
        }
        .arrow {
            position: fixed !important;
        }
        #right {
            position: absolute !important;
            
        }
    }
    .arrow {
        scale: 0.7 !important;
    }
    #right {
        scale: -0.7 !important;
    }
    #searchbar {
        font-size: 20px;
        width: 48vw;
    }

}
@media (max-width:444px) {
    .perfume {

        img {
            scale: 0.5;
            transform: translateX(40px);
            transform: translateY(50px);
        }
        .arrow {
            margin-left: 40px;
            display: block;
        }
    }
}
