@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root { 
    --gray:rgb(110, 110, 110);
    --color2:#F0F0F0;
    --color1:#e4f1f8;
    --black:rgb(51, 51, 51);
    --menu: rgb(197, 216, 216);
    --linarblue:
}
@font-face {
    font-family: "Akira";
    src: url("../fonts/BebasNeue-Regular.ttf");
}
@font-face {
    font-family: "archivo";
    src: url("../fonts/ArchivoBlack-Regular.ttf");
}
* {
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    user-select: none;
    color: var(--black);
    user-select: none;
}
html {
    background-color: white;
}
*::selection {
    background-color: none;
}
ul {
    display: flex;
    list-style-type: none;
}
#navlist {
    height: 90px;
    justify-content: space-between;
    align-items:center;
    img { 
        scale: 0.5;
    }
}
.navitem {
    display:flex;
    align-items: center;
    transition: 300ms;
    div {
        line-height: 16px;
        font-weight: 200;
        font-size: 1em;
        position: relative;
        right: 22px;
    }
    
}
.navitem:hover>i {
    animation-name: thirdsla;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
.navitem:hover>div.display{
    display: flex;
    position: absolute;
    z-index: 2;
}
#conta:hover,#carrinho:hover,#conta:active,#carrinho:active  {
    background: var(--menu);
    svg {
        fill:  var(--black);
    }
    div {
        color:  var(--black) !important;
    }
    span {
        color:  var(--black);
    }
    i {
        color:  var(--black);
    }
    
}
.icons {
    height: 120px;
    width: 120px;
}
#conta {
    transform: translateY(8px);
    padding-right: 16px;
    color: var(--gray) !important;
    cursor: pointer;
    img {
        height: 100px;
        width: 100px;
        margin-right: 8px;
    }
    i {
        color: var(--gray);
    }
   
}
.text {
    color: var(--gray) !important;
    span {
        color: var(--gray);
    }
}
.bold {
    font-size: 1.3em;
    font-weight: 300;
   
}
#itemlogo {
    height: 136px;
    width: 136px;
    position: absolute;
    top: 24px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    user-select: none;
    transform: translateY(-44px);
    user-select: none;
    -webkit-user-drag: none;
    img {
        scale: 1.4;
        overflow: auto;
        pointer-events: none;
    }
}
#itemlogo::selection {
    background: none;
}
#searchbar {

    border: none;
    font-size: 20px;
    border-bottom: 1px solid  var(--black);
    color:  var(--black);
    font-weight: 200;
    background: none !important;
}
#searchbar:enabled{
    outline: none;
}
#header {
    width: 100%;
    padding: 0 4%;
    margin: 0 auto;
    position: fixed;
    right: 50%;
    transform: translateX(50%);
    height: 184px;
    background-color: white;
    z-index: 2;
    input {
        background-color: none;
    }
}
#search-icon {
    width: 32px;
    height: 32px;
}
#navegation {
    border-top: 1px solid var(--gray);
    padding-top:12px;
    align-items: center;
    justify-content: center;
    display: flex;
    list-style-type: none;
    gap: 16px;
    width: 100vw;
    position: fixed;
    transform: translateY(30px);
    z-index: 4;
    transition: 300ms ease;
    left: 0;
    margin: auto !important;

    * {
        cursor: pointer;
    }
    a {
        margin-left: 40px;
        margin-top: 16px;
        color: var(--gray);
        transition: 300ms ease;
        flex-wrap: nowrap;

    }
    a:hover {
        color: var(--black);
    }
}

a {
    path {
    stroke: var(--gray) !important;
}
}
a:hover>svg,a:hover>svg>path {
    fill: var(--black) !important;
    stroke: var(--black) !important;
}

.navegationitem {
    svg {
        stroke: var(--gray);
        color: var(--gray);
        fill: var(--gray);
        transform: translate(-8px,6px);

        margin: 0;
    }
}
a:hover>svg,a:hover>svg>path,a:hover>svg>g>path {
    fill: var(--black) !important;
    stroke: var(--black) !important;
}
#carrinho {
    transform: translateY(8px);
    padding-right:16px;
    cursor: pointer;
    i {
        color: var(--gray);
    }
}

#rodape {
    position: absolute;
    height: 450px;
    width: 96%;
    display: flex;
    border-radius: 24px;
    margin: 2%;
    overflow: hidden;
}
#carrosel {
    display: flex;
    width: 500%; /* 100% para cada imagem (4 originais + 1 repetida) */
    animation: deslizar 24s infinite;
}
#carrosel img {
    width: 100%; /* 100% dividido pelo número total de imagens (5) */
    height: auto;
    object-fit: cover;
}

@keyframes deslizar {
  0%   { transform: translateX(0); }
  20%  { transform: translateX(0); }     /* Foto 1 parada */
  
  25%  { transform: translateX(-100%); }  /* Move para Foto 2 */
  45%  { transform: translateX(-100%); }  /* Foto 2 parada */
  
  50%  { transform: translateX(-200%); }  /* Move para Foto 3 */
  70%  { transform: translateX(-200%); }  /* Foto 3 parada */
  
  75%  { transform: translateX(-300%); }  /* Move para Foto 4 */
  95%  { transform: translateX(-300%); }  /* Foto 4 parada */
  
  100% { transform: translateX(-400%); }  /* Move para a Foto 1 (repetida) */
}¹
body {
    height: 2000px;
}
@keyframes thirdsla {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(180deg);
    }
    
}
div.display {
    align-items: start;
    position: fixed;
    background-color: var(--menu);
    padding: 16px;
    color: rgb(33, 33, 33);;
    border-radius: 0 0 8px 8px;
    height: 74px;
    padding-left: 24px;
    line-height: 0px;
    width: 212px;
    top:  64px;
    z-index: 9999 !important ;
    right: 0px;
    display: none;
    transition: 200ms;
    opacity: 1;
    justify-content: start;
    align-items: center;
    img {
        height: 40px;
        width: 40px;
    }
    ul {
        list-style:none;
        flex-direction: column;
    }
    li:hover {
        color: black;
    }
    li {
        line-height: -5px;
        font-weight: 300;
        height: 28px;
        display: flex;
        justify-content: start;
        align-items: center;
    }
    
}
#contadisplay {
    height: 72px;
    width: 185px;
    top: 80px;
    right: 0px;
    padding: 8px;
    z-index: 9999999;
    img {
        height: 40px;
        width: 40px;
    }
}
#rodape {
    top: 180px;
}
#itemlogo:hover {
    scale: 1.05;
}
img {
    transition: 200ms;
}
button {
    border: none;
    cursor: pointer;
    transition: 200ms ease;
    background-color: white;
    height: 50px;
    width: 50px;
    gap: 8px;
    border-radius: 12px;
    font-size: 28px;
    font-weight: 200;
}
#hamburguer {
    display: none;
    left: 0;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    background: none;
    span {
        height: 1px;
        width: 50%;
        background-color:  var(--black);
    }
}
button:hover {
    background-color:rgb(232, 239, 243);
}
#hamburguer:hover>div#displayhamburguer {
    display: flex;
}

#displayhamburguer {
    width: 99.5vw; 
    display: none;
    height: 100vh;
    background-color:rgb(232, 239, 243);
    position: fixed;
    border-left: 1px solid black;
    top: 0;
    right: 0;
    z-index: 6;
    animation-name: lado;
    animation-duration: 0.8s;


    p {
        width: fit-content;
        margin: 24px auto;
        font-size: 36px;
        font-weight: 500;
        transform: translateY(24px);
    }

    ul {
        width: fit-content;
        margin: 0 auto;
        font-size: 24px;
        flex-direction: column;
    }
    li {
        padding: 4px;
        width: 99.5vw;
        display: flex;
        justify-content: center;
        transition: 200ms;
    }
    li:hover {
        background-color: rgb(135, 144, 179);

    }
}
#quit {
    color: var(--black);
    background-color: rgb(232, 239, 243);
    height: 44px;
    width: 44px;
    transform: translate(25px,25px);
    svg {
        margin: 0;
        padding: 0;
    }
}
#quit:hover {
    background-color: white;
}
svg {
    margin:28px;
}

a {
    text-decoration: none;
    color: none;
}
html {
    scroll-behavior: smooth;
}
#tittlefeminino {
    font-family: "archivo";
    font-size: 48px !important;
    color: rgb(245, 101, 125);
}
#feminino {
    position: absolute;
    top: 722px;
    width: 100%;
    height: 1200px;
}
#categoriafeminina { 
    width: 72%;
    margin: auto;
    transform: translateY(264px);
}

.displayitem:first-child {
    display: none;
}
#gridmulher {
    width: 80%;
    display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 200px;
    gap: 32px;
}
.displayitem {
    height: 512px;
    width: 332px;
    padding:24px;
    display: flex;
    border-radius: 12px;
    cursor: pointer;
    flex-direction: column;
    img {
        width: 268px;
        height: 268px; 
    }
    h2 {
        font-family: "arial";
        font-size: 20px;
        font-weight: normal;
        text-align: start;
        color: rgb(54, 54, 54);
        transform: translateY();
    }   
    p {
        font-size: 44px;
        font-weight: bold;
        transform: translateY(52px);
    }
}
.displayitem:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 4px;
}
.stars {
    height: auto !important;
    width: 32% !important;
    transform: translateY(28px);
}
.estoque {
    font-size: 12px !important;
    position: relative;
    right: -208px;
    top: -76px;
    font-weight: 300 !important;
}
@keyframes lado {
    0% {
        transform: translateX(500px);
    }
    100% {
        transform: translateX(0);
    }
}
@media (max-width:1030px) {
    #itemlogo {
        scale: 0.7;
        transform: translateY(-50px);
    }
    #itemlogo:hover {
        scale: 0.75;
    }
    .navitem {
        scale: 0.96;
    }
    #rodape {
        height: 350px;
    }
}
@media (max-width:850px) {
    #rodape {
        height: 300px;
    }
}
@media (max-width:960px) {
    #conta {
        display: none;
    }
    #carrinho {
        display: none;
    }
    #itemlogo {
        position: static;
        transform: translateY(30px);
        transform: translateX(-50%);
        right: 50%;
        margin: 0;
    }
    #hamburguer{
        display: flex;
        
    }
    #navlist {
        height: 80px;
        
    }
    #navegation {
        scale: 0.8;
        transform: translateY(52px);
        li {
            font-size: 20px !important;
        }
    }
    #rodape {
        top: 172px;        
    }

}
@media (max-width:700px) {
    #divisao1 {
        display: none;
    }
    #rodape {
        top: 228px;
        height: 280px;
    }
    #header {
        height: 228px !important;
    }
   #navlist {
    height: 164px;
    justify-content: space-around;
   } 
   #inputitem {
        transform: translateY(60px);
        width: 700px;
        display: flex;
        justify-content: center;
        scale: 1.2;
        position: absolute;
    }
    #itemlogo {
        margin: 0;
    }
    #navegation {
        align-items: center;
        justify-content: center;
        position: absolute;
        line-height: 8px;
        height: 72px;
        display: flex;
        flex-wrap: wrap !important;
        margin: 32px auto;
        border: none;
        gap: 16px 32px;
        transform: translateY(76px);
        li {
            text-align: center;
        }
        a {
            margin: 0;
            
        }
    } 
#navlist {
    height: 76px;
}

#searchbar {
    font-size: 20px;
    width: 48vw;
}
}
@media (max-width:650px) {
    #rodape {
        height: 250px;
    }
}
@media (max-width:550px) {
    #rodape {
        height: 300px;
    }
}
@media (max-width:444px) {
    #rodape {
        height:250px;
        width: auto;
    }
}
img {
    pointer-events: none;
}
