
:root { 
    --gray:rgb(110, 110, 110);
    --color2:#F0F0F0;
    --color1:#e4f1f8;
    --black:rgb(51, 51, 51);
    --menu: rgb(197, 216, 216);
    --linarblue:
}
* {
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    user-select: none;
    color: var(--black);
    user-select: none;
}
html {
    background-color: white;
}
html::-webkit-scrollbar {
    display: none;
}
*::selection {
    background-color: none;
}
ul {
    display: flex;
    list-style-type: none;
}
#navlist {
    height: 90px;

    margin: auto;
    justify-content: space-between;
    align-items:center;
    img { 
        scale: 0.5;
    }
}
.navitem {
    display:flex;
    align-items: center;
    transition: 300ms;
}
#itemlogo {
    height: 136px;
    width: 136px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    img {
        scale: 1.4;
        overflow: auto;
        pointer-events: none;
    }
}
#itemlogo::selection {
    background: none;
}
#searchbar {
    border: none;
    font-size: 20px;
    border-bottom: 1px solid  var(--black);
    color:  var(--black);
    font-weight: 500;
    width: 200px;
    background: none !important;
}
#searchbar:enabled{
    outline: none;
}


#search-icon {
    width: 32px;
    height: 32px;
}
#navegation {
    background-color: white;
    border-top: 1px solid var(--gray);
    padding:12px 0;
    padding-bottom: 24px;
    align-items: center;
    justify-content: center;
    display: flex;
    list-style-type: none;
    gap: 16px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 4;
    transition: 300ms ease;
    left: 0;
    overflow: hidden !important;
    margin: auto !important;

    * {
        cursor: pointer;
    }
    a {
        margin: 20px 16px;
        color: var(--gray);
        transition: 300ms ease;
        flex-wrap: nowrap;
    }
    a:hover {
        color: var(--black);
    }
}
#menunave {
    position: absolute;
    left: 50%;
    top: 88px;
    transform: translatex(-50%);
}
a {
    path {
    stroke: var(--gray) !important;
}
}
a:hover>svg,a:hover>svg>path {
    fill: var(--black) !important;
    stroke: var(--black) !important;
}

.navegationitem {
    svg {
        stroke: var(--gray);
        color: var(--gray);
        fill: var(--gray);
        transform: translate(-8px,6px);
        margin: 0;
    }
}
a:hover>svg,a:hover>svg>path,a:hover>svg>g>path {
    fill: var(--black) !important;
    stroke: var(--black) !important;
}
#rodape {
    height: 450px;
    width: 96%;
    display: flex;
    max-width: 1828px;
    border-radius: 24px;
    margin: 2% auto;
    overflow: hidden;
}
#carrosel {
    display: flex;
    width: 500%; /* 100% para cada imagem (4 originais + 1 repetida) */
    animation: deslizar 24s infinite;
}
#carrosel img {
    width: 100%; /* 100% dividido pelo número total de imagens (5) */
    height: auto;
    object-fit: cover;
}

@keyframes deslizar {
  0%   { transform: translateX(0); }
  20%  { transform: translateX(0); }     /* Foto 1 parada */
  
  25%  { transform: translateX(-100%); }  /* Move para Foto 2 */
  45%  { transform: translateX(-100%); }  /* Foto 2 parada */
  
  50%  { transform: translateX(-200%); }  /* Move para Foto 3 */
  70%  { transform: translateX(-200%); }  /* Foto 3 parada */
  
  75%  { transform: translateX(-300%); }  /* Move para Foto 4 */
  95%  { transform: translateX(-300%); }  /* Foto 4 parada */
  
  100% { transform: translateX(-400%); }  /* Move para a Foto 1 (repetida) */
}¹
body {
    height: 2000px;
}
@keyframes thirdsla {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(180deg);
    }
    
}
#rodape {
    margin-top:0;
}
main {
    padding-top: 88px;
}
#itemlogo:hover {
    scale: 1.05;
}
img {
    transition: 200ms;
}
button {
    border: none;
    cursor: pointer;
    transition: 200ms ease;
    background-color: white;
    height: 50px;
    width: 50px;
    gap: 8px;
    border-radius: 12px;
    font-size: 28px;
    font-weight: 200;
}
#hamburguer {
    left: 0;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    background: none;
    span {
        height: 1px;
        width: 50%;
        background-color:  var(--black);
    }
}
button:hover {
    background-color:rgb(232, 239, 243);
}
#hamburguer:hover>div#displayhamburguer {
    display: flex;
}
header {
    background-color: white;
    padding: 32px;
    max-width: 1828px;
    margin: auto;
}
#displayhamburguer {
    width: 100%; 
    display: none;
    height: 100%;
    overflow: hidden;
    background-color:rgb(232, 239, 243);
    position: fixed;
    border-left: 1px solid black;
    top: 0;
    left: 0;
    z-index: 6;
    animation-name: lado;
    animation-duration: 0.8s;
    svg {
        margin: 0;
    }
    h1 {
        text-align: center;
        position: absolute;
        left: 50%;
        transform: translate(-50%,-20px);
    }
    p {
        width: fit-content;
        margin: 24px auto;
        font-size: 36px;
        font-weight: 500;
        transform: translateY(24px);
    }
    ul {
        width: fit-content;
        margin: 0 auto;
        font-size: 24px;
        flex-direction: column;
    }
    li {
        cursor: pointer;
        padding: 4px;
        width: 99.5vw;
        display: flex;
        justify-content: center;
        transition: 200ms;
    }
    li:hover {
        background-color: rgb(135, 144, 179);

    }
}
#quit {
    color: var(--black);
    background-color: rgb(232, 239, 243);
    height: 44px;
    width: 44px;
    transform: translate(25px,25px);
    align-items: center;
    justify-content: center;
    display: flex;
    svg {
        margin: 0;
        padding: 0;
    }
}
#quit:hover {
    background-color: white;
}
svg {
    margin:28px;
}

a {
    text-decoration: none;
    color: none;
}
html {
    scroll-behavior: smooth;
}
#tittlefeminino {
    font-family: "archivo";
    font-size: 48px !important;
    color: rgb(245, 101, 125);
}
#feminino {
    width: 100%;
    height: 1500px;
    .description {
        text-align: center;
    }
}
#categoriafeminina { 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translateY(264px);
    margin: auto;
}

.displayitem:first-child {
    display: none;
}
main {
    background-color:rgb(232, 239, 243);
}
form {
    display: flex;
}
.gridd {
    display: grid;
    max-width: 1298px;
    height: fit-content;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 64px auto;
    column-gap: 12px;
    transform: translateX(-40px);
    row-gap: 16px;
}
.displayitem {
    height: 548px;
    width: 332px;
    padding: 24px;
    display: flex;
    transition: 100ms ease;
    border-radius: 12px;
    cursor: pointer;
    flex-direction: column;
    background-color: white;
    img:first-child{
        width: fit-content;
        height: 212px;
        margin: 14px auto;
    }
    h2 {
        font-family: "arial";
        font-size: 24px; 
        font-weight: 200;
        text-align: start;
        color: rgb(54, 54, 54);
        transform: translateY();
        position: relative;
        line-height: 1.4;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }   
    p {
        font-size: 44px;
        font-weight: bold;
        transform: translateY(52px);
    }
    .label {
        font-weight: 400 !important;
        font-size: 16px !important;
    }
    .label2 {
        font-size: 24px;
    }
}
.displayitem:hover {

    scale: 1.05;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 4px;
}
.stars {
    height: auto !important;
    width: 32% !important;
    transform: translateY(28px);
}
.estoque {
    font-size: 12px !important;
    position: relative;
    right: -208px;
    top: -76px;
    font-weight: 300 !important;
}
main {
    background-color:white;
    height: 3000px;
}
#sectionpesquisa {
    margin: auto;
    width: 72%;
    max-height: 2000px;
    svg {
        margin: 0;
        margin-bottom: 24px;
    }
}
#categoriafeminina { 
    width: 100%;
    background-color: rgb(232, 239, 243) !important;
}
#titlefemele {
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: end;
    text-align: center;
    height: 266px;
}
@keyframes lado {
    0% {
        transform: translateX(-100vw);
    }
    100% {
        transform: translateX(0);
    }
}
@media (max-width:1550px) {
    .gridd {
        transform: translateX(0);
        column-gap: 20px;
        row-gap: 16px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    main {
        height: 4000px;
    }

}
@media (max-width:1030px) {
    #rodape {
        height: 350px;
    }
    .gridd {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:850px) {
    #rodape {
        height: 300px;
    }
}
@media (max-width:960px) {
    #itemlogo {
        height: 88px;
        width: 88px;
    }
    #navegation {
        li {
            font-size: 12px !important;
        }
    }
    #rodape {
        top: 172px;        
    }

}
@media (max-width:700px) {
    .hagaref {
        top: 824px;
    }
    #feminina {
        width: 100%;
        
    }
    #gridmulher {
        margin-top: 32px;
    }
    #categoriafeminina { 
    width: 100%;
    background-color: rgb(232, 239, 243) !important;
    transform: translateY(128px);

}
    main {
        padding-top: 24px;
    }
    .displayitem {
        max-width: 260px;
        max-height: 500px;
        h2 {
            font-size: 20px;

        }
        .price {
            font-size: 32px;
        }
        .label2 {
            font-size: 20px;
        }
    }
    #rodape {
        height: 280px;
    }
    #navegation {
        height: 88px;
        gap: 0px;
        li {
            align-items: start;
            font-size: 8px;
            margin: 0;
        }
    }
    #searchbar {
        width: 250px;
    }
     #navlist {
        height: 76px;
        justify-content:  space-between;
    }
    #itemlogo {
        position: static;
        transform: translate(-24px,8px);
        margin: 0;
    }
    #inputitem {
        transform: translateX(-50%);
        left: 50%;
        top: 128px;
        position: absolute;
        display: flex;
        justify-content: center;
    }
    header {
        padding: 16px;
        height: 204px;
    }
    #searchbar {
        font-size: 20px;
    }
}
@media (max-width:650px) {
    #rodape {
        height: 250px;
    }
}
@media (max-width:550px) {
    #navegation {
        padding-left: 32px !important;
        gap: 32px;
        width: 100%;
        align-items: start;
        justify-content: start;
    }
    #displayhamburguer {
        height: 100dvh;
    }
    #rodape {
        height: 300px;
        border-radius: 8px;
    }
    .gridd {
        column-gap: 4px;
        row-gap: 8px !important;
    }
    .displayitem {
        width: 200px;
        height: 408px;
        img:first-child {
            height: 150px;
            width: fit-content;
        }
        h2 {
            font-size: 16px;
        }
        .price{
            font-size: 28px;
        }
        .label{
            font-size: 8px;
        }
        .label2 {
            font-size: 16px;
        }
        .stars { 
            position: relative;
            left: 8px;
            scale: 1.4;
        } 
    }
}
@media (max-width:444px) {
    #rodape {
        scale: 0.95;
        height:240px;
        width: auto;
    }
}
img {
    pointer-events: none;
}
#submitbtn {
    background-color: black;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    svg {
        margin: 0;
        g{
            fill: white;
        }
    }   
}
